
# Permanent files
/node_modules
/env


# Temporal files


/src/auth/auth
/src/auth/controllers
/src/auth/routes
/src/auth/models
/src/auth/validations
/src/core/helpers
/src/core/middlewares
/src/core/schemas
/src/core/errors